
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',(e) => {
        setNightMode();
    });
    
    // Function to actually toggle night mode
    function setNightMode() {
        localStorage.getItem('nightEnabled');
        // If not enabled, enable and make changes
        if (localStorage.getItem('nightEnabled') === 'true') {
            console.log('enabling nightmode..');
            document.querySelector('body').classList.add('dark');
        } else {
            // If enabled, disable and make changes.
            console.log('disabling night mode..');
            document.querySelector('body').classList.remove('dark');   
        }
    }

    function toggleNightMode() {
        if (localStorage.getItem('nightEnabled') === 'true') {
            localStorage.setItem('nightEnabled', 'false');
            setNightMode();
        } else {
            localStorage.setItem('nightEnabled', 'true');
            setNightMode();
        }
    }
</script>
