/** Normalize **/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'); /** google fonts import **/

html {
height:100%;
width:100%;
margin: 0 0 0 0;
padding: 0;
}

body {
margin: 0;
padding: 0;
height: 100%;
width:100%;
font-family: 'Quicksand', sans-serif;
overflow-y: scroll;
background-color: rgb(24, 26, 27);
/* background-color:rgb(36, 45, 46); */
color: rgb(218, 215, 210);
}

a {
    color: coral;
}

a:visited {
    color: coral;
}

/** Navigation **/

nav {
    flex-grow: 2;
    flex-basis: 90%;
    flex-shrink:2;
    text-align: right;
    align-self: right;
}

nav > ul {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding:0;
}

nav a {
    text-decoration: none;
    color: rgb(218, 215, 210);
}

nav a:visited{
    color: rgb(218, 215, 210);
    outline:none;
}

nav > ul > li {
    display: inline-block;
    padding: 0 5px 0 5px;
}
nav .active {
    border-top: 2px solid coral;
}

nav .active a {
    color: coral;
}


nav a:hover {
    color: coral;
    border-top: 2px solid coral;
    transition: color 0.9s;
}

.active-nav {
    color: black !important;
}

/** logo **/
span.logo {
    border: solid 3px rgb(218, 215, 210);
    padding: 5px;
    height: 1.3em;
    width: auto;
    max-width: 1.4em;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    align-self: left;
    flex-basis: 10%;
}

/** Main content **/
div.container {
    align-items:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0px auto;
    width: 580px;
}

div.header {
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
    margin:none;
}

div.footer {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 50px;
    margin:none; 
}

div.footer img {
    filter: grayscale(75%);
    transition: filter .5s;
}



div.footer img:hover {
    filter: grayscale(0%);
}

div.footer p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

div.content {
    width: 580px;
    height: auto;
    margin: none;
    align-self: flex-start;
}

div.fog {
    background-image: url('../images/photos/smirk-min.jpg');
    background-size: cover;
    background-position-y: 30%;
    filter: grayscale(0.8);
    opacity: 0.8;
    height: 70px;
    width:100%;
}

div.fog:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: filter 1s, opacity 1s;
}

div.written {
    height:auto;
    width: 100%;
    
}

div.written h2 {
    font-size: 40px;
    margin:0;
}

div.written p {
    text-align: justify;
}

div.social {
    margin-left:auto;
    margin-top: 10px;
    align-self: end;
    justify-self:end ;
}

div.footer span {
     margin-top: 10px;
}
 

hr {
    margin: auto 0 0 0;
}

/* Changess for a day mode (night mode on by default)
body {
    background-color: rgb(253, 243, 229);
    color: black;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:visited{
    color:black;
}

span.logo {
    border: solid 3px black;
}

** resolve nav a:active
*/

ul {
    list-style-position:outside;
}