// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'); /** google fonts import **/

body.dark {
    background-color: rgb(24, 26, 27);
}

body.dark a, body.dark h1, body.dark h2, 
body.dark h3, body.dark h4, body.dark h5, body.dark h6, body.dark li,
body.dark .logo, body.dark p, body.dark .page-link
{
    color: white;

}

#nightModeButton {
    filter:grayscale(1);
    padding-top: 5px;
}

#nightModeButton:hover {
    filter: grayscale(0);
    padding-top: 3px;
    color: coral !important;
    border-top: 2px solid coral;
    transition: color 0.9s;
    text-decoration: none;
}

body.dark span.logo {
    border-color: white;
}

body.dark .highlighter-rouge {
    background-color: coral;
}

.home p {
    margin-bottom:30px;
    // margin-top: 10px;
}

.home a {
    color: darkblue;

    &:hover {
        color: coral;
        transition: color .7s;
    }
}

p {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
/** logo **/
span.logo {
    border: solid 3px black;
    color: black;
    border-radius:2px;
    padding: 5px;
    height: 1.3em;
    width: auto;
    max-width: 1.4em;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    align-self: left;
    flex-basis: 10%;
}

.site-title:hover {
    text-decoration: none;
}

.post-list {
    margin-top: 30px;
}


.post-link {
    @include relative-font-size(1);
    margin-bottom: 0px;
}


.site-header{
    border:none;
    margin-top: 50px;
    margin-bottom: 20px;
}

nav a:hover {
    color: coral !important;
    border-top: 2px solid coral;
    transition: color 0.9s;
    text-decoration: none;
}

.post-header {
    margin-top: 15px;
}

.post-tags {
    background-color: coral;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px 6px 1px 6px;

}

.active-nav {
    color: coral !important;
    border-top: 2px solid coral;
    text-decoration: none;
}