// Placeholder to allow overriding predefined variables smoothly.
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'); /** google fonts import **/
$base-font-family: "Quicksand", sans-serif;
$spacing-unit: 10px;
$table-zebra-2-color: rgb(224, 224, 224);