<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hi, I'm Satchel!</title>
		<link rel="stylesheet" href="assets/css/style-landing.css"/>
		<link rel="stylesheet" href="assets/css/mobile-style.css" media="(max-width: 720px)"/>
		<link rel="icon" href="assets/images/icons/dustin-favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="assets/images/icons/dustin-favicon.ico" type="image/x-icon" />
		<meta charset="UTF-8">
  		<meta name="description" content="Personal website of Satchel French. View my projects, and read my thoughts.">
  		<meta name="keywords" content="Satchel French, Engineer, Ryerson University, Toronto, Art, Engineering, Software, Web Development, Web Design, Hardware engineering">
  		<meta name="author" content="Satchel French">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<body>

		
		<div class="container"> <!-- Flexbox container -->
			<div class="header">
				<span id="logoHome" class="logo">s.f.</span> <!-- Logo -->
				<!-- Navigation -->
				<nav id="nav">

					<ul>
						<li id="about" class="active"><a href="/">about</a></li>
						<li id="projects"><a href="/projects">projects</a></li>			
						<li id="writing"><a href="/articles">articles</a></li>
						<li id="cv"><a target="_blank" href="/assets/files/satchel_french_resume.pdf">c.v.</a></li>
					</ul>
					
				</nav>	 
			</div> 
			
			<div class="content"> 
				<div class="written">

					<p>Hi, I'm Satchel. I'm a recent engineering graduate living Toronto, Canada. Currently I'm focusing on software, signal processing and machine learning. This blog serves a a repository for my exploration of technology, ranging from one-day automation hacks and handy electronics to long term projects. </p>
					<div class="fog"></div>
					<p>Under my <a href="/articles/">articles</a> section I write about interesting tidbits of technology, personal opinion or other things that are going on in my life. I'm always working on something new, and always share my build logs on the <a href="/projects/">projects</a> page. If you're interested in talking technology, feel free to <a href="mailto:frenchsatchel@gmail.com?subject=Lets%20Talk%20Tech!">send me an email!</a></p>		
				</div>
				<hr>	
			</div>

			
			<div class="footer">
				<p>Satchel French © 2020</p>
				
				<div class="social">
					<a target="_blank" href="https://github.com/satchelfrench"> <img src="assets/images/icons/GitHub-Mark-Light-64px.png" width="25px" alt=""></a>
					<a target="_blank" href="https://linkedin.com/in/satchelfrench"> <img src="assets/images/icons/linkedin.png" width="25px"  alt=""></a>
				</div>
			</div>
			

		</div>
	{%- include navActive.html -%}
	{%- include google-analytics.html -%}
	</body>
</html>
